@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\000032}}
#admin-menu #admin-menu-wrapper {
  -webkit-font-smoothing: subpixel-antialiased; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\000038}}
  #admin-menu #admin-menu-wrapper #environment-indicator .environment-indicator-name {
    border-radius: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\0000312}}
  #admin-menu #admin-menu-wrapper #environment-indicator .item-list,
  #admin-menu #admin-menu-wrapper #environment-indicator .environment-switcher-container {
    display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\0000319}}
#admin-menu #admin-menu,
#admin-menu #admin-menu-wrapper {
  background-color: #202020 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\0000326}}
#navbar-administration .navbar-tray.navbar-tray-vertical {
  border-right: 1px solid #eee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\0000329}}
  #navbar-administration .navbar-tray.navbar-tray-vertical > .navbar-lining::before {
    background-color: #fafafa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tanc\/Documents\/Sites\/vagrant_agile\/sites\/l\.agilebase\.dev\/gitroot\/web\/sites\/all\/themes\/custom\/ac_adminimal\/sass\/overrides\.scss}line{font-family:\0000332}}
  #navbar-administration .navbar-tray.navbar-tray-vertical .navbar-menu-item {
    background-color: #fdfdfd; }
