/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Hero layout.
 ******************************************************************************/
/**
 * Collected colours.
 *
 * These are colours Agile Collective have gathered and might want to re-use
 * in other projects. Usually they would not be referenced directly, instead
 * they would be referenced in the colour based variables above.
 *
 * Your colours should be named using the 'Name that color' web service.
 *
 * @see: http://chir.ag/projects/name-that-color
 */
/**
 * Site colours.
 *
 * The colours specific to this site are defined below. Avoid using any hex
 * colours here, instead use a variable referencing a hex colour defined above.
 * If your colour isn't defined yet, go to http://chir.ag/projects/name-that-color
 * and enter your hex value to find your colour name and then add it to the
 * appropriate colour section above.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000313}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/luke\/\.rvm\/gems\/ruby-1\.9\.3-p547\@omega\.niskala\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000320}}
.l-region--header {
  padding: 18px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000323}}
  .l-region--header .block {
    float: right; }

/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000329}}
.l-highlighted-wrapper {
  padding: 18px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000335}}
.l-region--help {
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000338}}
.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000345}}
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em; }

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000350}}
.l-footer-wrapper {
  padding: 18px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000358}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 90%; }

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000363}}
.l-branding {
  width: 40.42553%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000366}}
.l-region--navigation {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000370}}
.l-region--header {
  width: 57.44681%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000377}}
.has-two-sidebars .l-content,
.has-one-sidebar .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000381}}
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second,
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000389}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 80%; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000395}}
.has-one-sidebar .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\0000398}}
.has-one-sidebar .l-region--sidebar-first {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\00003104}}
.has-two-sidebars .l-content {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\00003108}}
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 51.06383%;
  clear: none;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/vagrant\/agileparrot\/sites\/l\.niskala\/gitroot\/web\/sites\/all\/themes\/custom\/niskala\/sass\/layouts\/agile-hero\/agile-hero\.layout\.scss}line{font-family:\00003112}}
.has-two-sidebars .l-region--sidebar-second {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
